<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Générateur de CR</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    <main class="main-container">

      <header class="header">
        <h1 class="header-title">Compte-rendu :</h1>
      </header>

      <section id="messages-container" class="messages-container">
        <div class="message message-ai">
          {{ dynamic_message|safe }}
        </div>
        <!-- sqlalchemy <p>Message dynamique : {{ dynamic_message }}</p> -->
      </section>

      <script src="{{ url_for('static', filename='js/prompt.js') }}"></script>
    </main>
  </body>
</html>