<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Générateur de CR</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    <main class="main-container">


      <header class="header">
        <h1 class="header-title">Upload :</h1>
      </header>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Sélectionnez une vidéo :</label>
        <input type="file" name="file" id="file" accept="video/*" required>
        <button type="submit">Uploader</button>
      </form>


      <script src="{{ url_for('static', filename='js/prompt.js') }}"></script>
    </main>
  </body>
</html>
